.container{
    display:-webkit-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    position: absolute;
    color: #FFF;
    background-color: #28574E;
}

.logo{
    width: 50px;
    height: 50px;
}

.link_logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.name_h{
    margin-left: 20px;
    color: #FFF;
}