.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1080px;
    height: 650px;
    background: #efefed;
    margin-top: 180px;
    border-radius: 54px;
    padding: 50px;
}

.container h2 {
    color: #28574E;
    font-family: Recoleta;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 141.5%;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    max-width: 590px;
    gap: 20px;
}

.form input {
    width: 250px;
    height: 30px;
    padding: 10px;
    border-radius: 773.279px;
    border: 1px solid #D3D3D3;
    opacity: 0.63;
    background: #FFF;
    outline: none;
}

.form select {
    width: 250px;
    height: 30px;
    border-radius: 773.279px;
    border: 1px solid #D3D3D3;
    opacity: 0.63;
    background: #FFF;
    padding-inline-start: 10px;
    outline: none;
}

.form button {
    width: 176px;
    height: 65px;
    border-radius: 32.5px;
    background: #1E232F;
    color: #FFF;
    font-family: Outfit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}


.form textarea {
    border-radius: 34px;
    border: 1px solid #D3D3D3;
    background: rgba(255, 255, 255, 0.0);
    backdrop-filter: blur(14px);
    padding: 20px;
    outline: none;
}

.container_2 img {
    width: 400px;
    height: 450px;
    border-radius: 40px;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

@media (max-width: 765px){
    .container{
        width: 620px;
        height: 450px;
        margin-top: 350px;
        padding: 40px;
    }

    .container h2{
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 25px;
        margin-top: 20px;
        width: 620px;
        height: auto;
        margin-left: -40px;
    }

    .container_2{
        display: none;
    }

    .form{
        margin-bottom: 20px;
    }

    .form textarea{
        width: 550px;
        height: 220px;
    }

    .form button{
        width: 120px;
        height: 30px;
        margin-top: -10px;
        
    }
}

@media (max-width: 600px){
    .container{
        width: 320px;
        height: auto;
        flex-direction: column;
    }

    .container_1 h2{
        width: 320px;
        margin-left: 5px;
        font-size: 25px;
    }

    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form textarea{
        width: 290px;
    }
}