.input_field{
    display: flex;
    width: 564px;
    height: 63px;
    border-radius: 31.5px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(14.5px);
    padding: 20px;
    color: #FFF;
    margin-top: 39px;
}

.input_text{
    width: 450px;
    height: 23px;
    line-height: 23px;
    margin-left: 10px;
    outline: none;
    border: none;
    background: none;
    color: #FFF;
    font-size: 18px;
}

@media (max-width: 765px){
    .input_field{
        display: flex;
        align-items: center;
        width: 465px;
        height: 55px;
    }

    .input_text{
        width: 250px;
        height: 13px;
        line-height: 23px;
    }
    
    .input_field img{
        line-height: 55px;
    }
    
}

@media (max-width: 600px){
    .input_field{
        max-width: 354px;
        height: 42px;
    }

    .input_text{
        max-width: 254px;
        height: auto;
        line-height: 23px;
    }
}